################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DZ08_Prototype/.vs/DZ08_Prototype
/DZ08_Prototype/DZ08_Prototype/obj
/DZ08_Prototype/DZ08_Prototype/bin/Debug/net6.0
